* {
  font-size: 14px;
}
::-webkit-scrollbar {
  height: 0px;
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.card {
  max-height: 500px;
}

.card-header {
  padding: 0.2rem 0.4rem !important;
  color: cornflowerblue;
  font-weight: bold;
}

.list-group-item {
  padding: 0.5rem 0.5em !important;
}

a {
  cursor: pointer;
}

.active-class {
  background-color: cornflowerblue;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}
